#1

In [1]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
print(num1 + num2 + num3)

Enter the first number: 1
Enter the second number: 2
Enter the third number: 3
6

#2

In [2]:
b1 = int(input("Enter b1: "))
q = int(input("Enter q: "))
n = int(input("Enter the index: "))
print(b1*(q**(n-1)))

Enter b1: 95
Enter q: 3
Enter the index: 2
285

#3

In [4]:
num = int(input('Enter the number: '))
if num%2:
  print(f'The number {num} is odd')
else:
  print(f'The number {num} is even')

Enter the number: 7
The number 7 is odd

#4

In [6]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))
if a+c==2*b:
  print('arithmetic progression')
else:
  print('no pattern found')

Enter a: 1
Enter b: 2
Enter c: 2
no pattern found

#5

In [11]:
num = int(input('Enter the number: '))
print('Yes'*(num%161==0 and (num<100 or num>999))+'No'*(num%161!=0 or (num>99 and num<1000)))

Enter the number: 161
No

#6

In [15]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))
D = b**2-4*a*c
if D>0:
  print((-b+D**(1/2))/(2*a))
  print((-b-D**(1/2))/(2*a))
elif D==0:
  print(-b/2*a)
else:
  print('No solutions')

Enter a: 48
Enter b: 58
Enter c: 5
-0.09343122199453073
-1.1149021113388027

#8

In [17]:
num = int(input('Enter the number: '))
for i in range(1, 11):
  print(f'{num} * {i} = {num*i}')

Enter the number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

#9

In [20]:
num = int(input('Enter the list size:'))
l = []
for i in range(num):
  l.append(int(input('')))
print(l)

Enter the list size:7
1
2
3
4
5
6
7
[1, 2, 3, 4, 5, 6, 7]

#10

In [23]:
num = int(input('Enter the list size:'))
for i in range(1, num+1):
  if num%i == 0:
    print(i)

Enter the list size:16
1
2
4
8
16

#11

In [27]:
num = int(input('Enter the list size:'))
a = None
n = 0
for i in range(num):
  x = int(input())
  if a is None:
    a = x
    continue
  if x>a:
    n += 1
  a = x
print(n)

Enter the list size:6
6000
2000
1500
4000
4500
3000
2

#12

In [29]:
num = int(input('Enter the list size:'))
l = []
for i in range(num):
  l.append(str(input()))
for i in range(len(l)-1, -1, -1):
  print(l[i])

Enter the list size:3
a
aa
aaa
aaa
aa
a

#13

In [34]:
n = int(input('Enter n:'))
if n==0 or n==1:
  print(1)
else:
  f = 1
  for i in range(1, n+1):
    f *= i
  print(f)

Enter n:5
120

#14

In [39]:
n = int(input('Enter n:'))
if n>=1:
  for i in range(1, n+1):
    if i**2>n:
      break
    else:
      print(i**2, end=' ')

Enter n:15
1 4 9

#15

In [43]:
n = int(input('Enter n:'))
if n>=1:
  for i in range(n):
    if 2**i>n:
      break
    else:
      print(2**i, end=' ')

Enter n:1
1

#16

In [52]:
n = int(input('Enter n:'))
while n!=1:
  if n%2:
    print('No')
    break
  n /= 2
else:
  print('Yes')

Enter n:256
Yes

#17

In [54]:
while True:
  s = input()
  if s.lower()=='end' or s.lower()=='finish' or s.lower()=='done':
    break
  print(s)

jcndc
jcndc
jncjdcn
jncjdcn
idncsnc
idncsnc
dONe

#18

In [57]:
s = 0
while True:
  x = int(input())
  if x>=0:
    break
  s += x
print('The sum is', s)

-5
-6
-8
6
The sum is -19

#19

In [59]:
int(input()[::-1])*2

123

642

#20

In [62]:
s = input()
a = -1
for i in s:
  if int(i)<a:
    print('No')
    break
  a = int(i)
else:
  print('Yes')

111222333
Yes